<div class="container login-container ">
    <div class="row">
    
        <!-- <div class="col-md-3">
            
        </div> -->

        <!-- <div class="col-md-6">
            


        </div> -->
        <!-- <div class="col-md-3">
            
        </div> -->


        <div class="col-md-6 login-form-1 mx-auto" *ngIf="flag">
            <img src="../../../assets/logo/albatross-logo.png" width="500px" height="200px"/>
            <h3 class="font-weight-bold">Login</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btnSubmit background-primary" value="Login" />
                </div>
                <div class="form-group text-center">
                    <input type="button" class="btnRegister background-primary" value="Register" (click)="switchViewToRegister()" />
                </div>
                <div class="form-group text-center">
                    <a href="#" class="ForgetPwd"><p style="font-size: small;">Forgot Password?</p></a>
                </div>
            </form>
        </div>
        <div class="col-md-6 login-form-2 mx-auto" *ngIf="!flag">
            <img src="../../../assets/logo/albatross-logo.png" width="500px" height="200px"/>
            <h3 class="font-weight-bold">Register</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btnSubmit" value="Register" />
                </div>
                <div class="form-group">

                    <a class="back" value="Login" (click)="switchViewToLogin()"><i class="fa fa-arrow-left">Back To Login</i></a>
                </div>
            </form>
        </div>
    </div>
</div>
